{% extends 'dictionary/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <h1>Test Page</h1>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in efficitur leo. Donec bibendum facilisis purus sed congue. Praesent malesuada quis nisl sit amet interdum. Sed ac erat rutrum, dictum dui quis, varius velit. Proin vitae nibh egestas, scelerisque quam ac, viverra enim. Etiam malesuada faucibus magna vel faucibus. Praesent porta vestibulum sodales.
        </p>

        <p>
        Donec aliquet magna massa, sit amet convallis dui sollicitudin at. Cras pretium varius consectetur. Aliquam pretium ipsum ut sollicitudin hendrerit. Vivamus in bibendum nisl, ac pharetra tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent lobortis quis ex ultrices ullamcorper. Phasellus rhoncus nulla at mauris convallis rhoncus. Praesent elementum elementum eros, pellentesque dictum massa luctus at. Proin efficitur, ligula porta elementum porttitor, arcu quam ultrices ligula, id gravida lorem dolor in dolor. Sed lorem enim, laoreet ac imperdiet eget, rutrum eu elit. Duis interdum enim in ultricies dignissim. Vivamus aliquet rutrum magna at congue. Suspendisse sit amet eros nec tellus scelerisque laoreet eget eget ipsum. Proin pellentesque est sapien, in facilisis odio faucibus ac.
        </p>
    </div>
    <div class="col-md-3">
        <iframe src="//52.64.131.80/embed/?language=cs" height="800px" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
{% endblock %}

