{% extends "dictionary/base.html" %}

{% load i18n %}
{% load core_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Please log in</h3>
            {% textblock 'dictionary-login' %}
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
            <form method="post" action=".">{% csrf_token %}
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">
                        {% trans 'Login' %}
                    </button>
                    <small class="pull-xs-right">
                        <a href="{% url 'password_reset' %}" >{% trans 'Forgot password?' %}</a>
                    </small>
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
    {% endblock %}

