{% extends "dictionary/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>{% trans "Password Reset" %}</h3>
            <p class="lead">{% trans "Forgotten your password? Enter your email address below and we'll email you instructions for setting a new one." %}</p>
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" />
            </form>
        </div>
    </div>
{% endblock %}


